body{
    background-image: url('https://yt3.googleusercontent.com/yaO29uydEx0PfxuToT7uh_fP1cZGw-mcNrNZcCKTjDBTNvzn_5_gclYVAhBn5XFa-JgMKm6WwUY=s900-c-k-c0x00ffffff-no-rj');
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height:100vh;
}