body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.sedans {
    background-color: #FF7043;
}
.suvs {
    background-color: #26A69A;
}
.luxury {
    background-color: #2E7D32;
}
.card h2 {
    font-size: 1.5em;
}
.card p {
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}