div{
    background-color: lightblue;
    text-align: center;
    opacity: 0.5;
    
}
div button{
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
}
div button:hover{
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}