
.a{
    color:rgb(255, 238, 0) ;background-color: rgb(255, 0, 0) ; font-size: 77px; text-align: center;
}
#b{
    color:rgb(55, 0, 255) ;background-color: rgb(0, 255, 98) ; font-size: 77px; text-align: center;
}
#c{
    color:rgb(0, 81, 255) ;background-color: rgba(0, 0, 255, 0.616) ; font-size: 77px; text-align: center;
}