.MYDIV{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(142, 142, 255);
    text-transform: uppercase;
    text-shadow: 4px 4px 4px black;
}
body{
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;

}