body{
    display:flex;
    align-items:center;
    height:100vh;
    overflow:hidden;
    justify-content: center;
    background-color: black;
}
div{
    height:300px;
    width:300px;
    background-color: rgb(195, 255, 0);
    border-radius:5% 50% 0% 50%;
    transition:0.5s;
    cursor:pointer;
}
div:hover{
    transform: rotate(30deg);
    background-color: yellow;
}