
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f3f3;
  color: #333;
  padding: 2rem;
}

ul#car-list {
  list-style: square;
}

ul#car-list li {
  cursor: pointer;
  margin: 0.5rem 0;
  font-weight: bold;
}

#car-display {
  margin-top: 2rem;
}